
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body {
  font-family: Arial, sans-serif;
  background-image: url("Imagens/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos para o cabeçalho */
header {
  color: #dc2430;
  padding: 20px;
  text-align: center;
  background: rgba(6, 2, 6, 0.5);
}

/* Estilos para o conteúdo */
.container {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #25142d;
  
}


footer {

  padding: 20px;
  text-align: center;
  color: #dc2430;
  text-shadow: 1px 1px 2px black;
}

.fundo {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

div.img {
  border-radius: 25px;
  height: 100%;
  text-align: center;
  
}

nav.menu-lateral {
  width: 80px;
  height: 100%;
  background-color: #25142d;
  padding: 40px 0 40px 1%;
  box-shadow: 3px 0 0 #dc2430;
  
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .2s;
}

nav.menu-lateral.expandir{
  width: 300px;
}

.btn-expandir {
  width:100%;
  padding-left: 10px;
}

.btn-expandir > i {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
}

ul li.item-menu{
  transition: .2s;
}

ul li.ativo {
  background-color: #dc2430;
}

ul li.item-menu:hover{
  background: #dc2430;
}

ul li.item-menu a{
  color:#fbff00;
  text-decoration:none;
  font-size: 20px;
  padding:20px 4%;
  display: flex;
  line-height: 40px;
}

ul li.item-menu a .txt-link{
  margin-left: 70px;
  transition: 1s;
  opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
  margin-left: 40px;
  opacity: 1;
}


ul li.item-menu a .icon > i{
  font-size: 30px;
  margin-left: 10px;
}

#btn-exp {
    width: 60px; /* ajuste o tamanho conforme necessário */
    height: auto; /* mantém a proporção da imagem */
}